body {
    color: #090c0f;
    background: #f5f5f5;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

.form-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px 0;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

input[type=radio] {
    transform: scale(1.25);
}

input[type=checkbox] {
    transform: scale(1.25);
}


.material-icons.button-icons {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}

.form-check{
    margin-left: 5px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-52 { font-size: 52px; }