{% extends "base.html" %}
{% block head_title %} Register | {{ block.super }}{% endblock head_title %}

{#insert additional stylings#}
{% block stylings %}
    {% load static %}
    <link href="{% static 'templates/css/profile/register.css' %}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css"
          integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg=="
          crossorigin="anonymous"/>
{% endblock stylings %}

{% block content %}
    <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
        <div class="container">
            <div class="card login-card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="/static/templates/img/women-getting-vaccine.jpg" alt="login" class="login-card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="brand-wrapper">
                                <h2>Vaccine Booking Portal</h2>
                            </div>
                            <p class="login-card-description">Create new Account</p>
                            <form id="form" action="/api/patient/" method="POST">
                                <div id="alert_placeholder"></div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="name">Full Name</label>
                                        <input type="text" class="form-control" id="name" name="name"
                                               placeholder="John Doe" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phone">Phone no</label>
                                        <input type="text" class="form-control" id="phone" name="phone"
                                               placeholder="0xx xxx xxxx" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                               placeholder="name@example.com" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               placeholder="***********" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="dateOfBirth">Date of Birth</label>
                                        <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                               placeholder="21/03/2002" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="gender">Gender</label>
                                        <div class="form control custom-radiolist" id="gender">
                                            <input class="radio" type="radio" id="male" name="gender" value="Male"
                                                   checked>
                                            <label class="radio" for="male" style="padding-right: 5px">Male</label>
                                            <input class="radio" type="radio" id="female" name="gender" value="Female">
                                            <label class="radio" for="female">Female</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="emiratesID">Emirates ID</label>
                                    <input type="number" class="form-control" id="emiratesID" name="emiratesID"
                                           placeholder="xxxxxxx" required>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="locationLng">Longitude</label>
                                        <input type="number" step="0.001" class="form-control" id="locationLng" name="locationLng"
                                               placeholder="xx.xx" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="locationLat">Latitude</label>
                                        <input type="number" step="0.001" class="form-control" id="locationLat" name="locationLat"
                                               placeholder="xx.xx" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="industry">Industry</label>
                                        <select id="industry" class="form-control" name="industry" required>

                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="patientMedicalIssues">Medical Conditions</label>
                                        <div class="medical-select">
                                            <select id="patientMedicalIssues" class="selectpicker" multiple="MULTIPLE"
                                                    name="patientMedicalIssues[]" multiple data-max-options="20">

                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="dosesTaken">Doses Taken</label>
                                        <input type="number" class="form-control" id="dosesTaken" name="dosesTaken"
                                               required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="determination">Person of Determination</label>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   name="determination" value="true">
                                            <input class="form-check-input" type="checkbox"
                                                   name="determination" value="false" checked hidden readonly>
                                            <label class="form-check-label" for="determination">True</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                      <div class="form-group col-md-6">
                                             <button class="btn btn-block login-btn mb-4" onclick="location.href = '/';">Go to Login</button>
                                      </div>
                                    <div class="form-group col-md-6">
                                             <button class="btn btn-block login-btn mb-4" type="submit">Create Account</button>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'templates/js/profile/register.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"
            integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg=="
            crossorigin="anonymous"></script>
{% endblock script %}