<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | ADHS</title>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static%}
<link href="{% static 'templates/css/index.css' %}" rel="stylesheet">

</head>
<body>
  <h2>Vaccine Booking Portal</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form id="adminForm" action="/api/admin/login/"  method="POST">
			<h1>Admin Sign in</h1>
			<div class="social-container">
			</div>
			<input type="email" id="email" name="email" placeholder="Email" required />
			<input type="password" id="password" name="password" placeholder="Password" required/>
      <br>
			<button type="submit" style="background-color: #c389a2; border: 1px solid #c389a2;">Sign In</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form id="patientForm" action="/api/patient/login/"  method="POST">
			<h1>Patient Sign in</h1>
			<div class="social-container">

			</div>
			<input type="email" id="email" name="email" placeholder="Email" />
			<input type="password" id="password" name="password" placeholder="Password" />
			<a href="/register">Don't have an account ? Register here</a>
			<button type="submit">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<button class="ghost" id="patientSignIn">Patient Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<button class="ghost" id="adminSignIn">Admin Sign In</button>
			</div>
		</div>
	</div>
</div>


  {% load static%}
  <script type="text/javascript" src="{% static 'templates/js/index.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/main.js' %}"></script>

</body>
</html>

