{% extends "base.html" %}
{% block head_title %} Vaccine Center | {{ block.super }}{% endblock head_title %}

{#insert additional stylings#}
{% block stylings %}
    {% load static %}
   <link href="{% static 'templates/css/form-stylings.css' %}" rel="stylesheet">
{% endblock stylings %}

{% block content %}
  {% include 'admin/nav.html' %}

    <div class="container">
        <div class="form-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    {% if edit_center %}
                        <h1><b>Edit Vaccine Center</b></h1>
                    {% else %}
                        <h1><b>Add Vaccine Center</b></h1>
                    {% endif %}
                </div>
            </div>
            <hr style="border-top: 5px solid #e12454;">
            <form id="form"
                    {% if edit_center %} action="/api/vaccine-centers/{{ vaccineCenterID  }}/"  method="PUT"
                    {% else %} action="/api/vaccine-centers/"  method="POST"
                    {% endif %}>
                {#alert#}
                <div id="alert_placeholder"></div>
                <input id="id" value="{{ vaccineCenterID }}" hidden>
                <div class="form-group">
                    <label for="name" class="col-form-label">Vaccine Center Name:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                
 			<div class="form-row">
                                     <div class="form-group  col-md-6">
                                        <label for="locationLat">Latitude:</label>
                                        <input type="number" step="0.001"  class="form-control" id="locationLat" name="locationLat"
                                          required>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="locationLng">Longitude:</label>
                                        <input type="number" step="0.001"  class="form-control"  id="locationLng" name="locationLng"
                                               required>
                                    </div>

                                </div>
                                <div class="form-row">
                                     <div class="form-group  col-md-6">
                                        <label for="dosesStock">Doses Stock:</label>
                                        <input type="number" class="form-control" id="dosesStock" name="dosesStock"
                                              required>
                                    </div>
                                    <div class="form-group  col-md-6">
                                        <label for="dosesPerHour">Doses Per Hour</label>
                                        <input type="number" class="form-control" id="dosesPerHour" name="dosesPerHour"
                                               required>
                                    </div>

                                    </div>

                <br>
                <div class="btn-container ">
                    <a href="/admins/vaccine-centers" class="btn btn-main-2 btn-round-full" id="cancel"><i
                            class="material-icons button-icons">arrow_back</i><span>Cancel</span></a>
                    {% if edit_center %}
                        <button class="btn btn-main btn-round-full" type="submit">Update Vaccine Center</button>
                    {% else %}
                        <button class="btn btn-main btn-round-full" type="submit">Add Vaccine Center</button>
                    {% endif %}

                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'templates/js/vaccine-center/add-edit-vaccine-center.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
{% endblock script %}