{% extends "base.html" %}
{% block head_title %} Admin | {{block.super}}{% endblock head_title %}

{#insert additional stylings#}
{% block stylings %}
    {% load static %}
        <link href="{% static 'templates/css/profile/homepage.css' %}" rel="stylesheet">

{% endblock stylings %}

{% block content%}
    {% include 'admin/nav.html' %}

<!-- Slider Start -->
<section class="banner" style="background: url(../../static/templates/img/COVID-19-vaccine-banner.jpg) no-repeat; background-size:cover;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<div class="divider mb-3"></div>
					<span class="text-uppercase text-sm letter-spacing ">Fighting COVID-19 In U.A.E</span>
					<h1 class="mb-3 mt-3">Admin Portal</h1>

					<p class="mb-4 pr-5">Check this weeks insights</p>
					<div class="btn-container ">
						<a href="#" target="_blank" class="btn btn-main-2 btn-icon btn-round-full">Check Insights</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- footer Start -->
<footer class="footer section gray-sm">
	<div class="container">
		<div class="footer-btm py-4 mt-5">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-12" style="text-align: center;">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Novena</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

{% endblock content%}

{% block script %}
      {% load static %}

        <script>
    $(document).ready(function () {

        validate_user('admin')
    })
    </script>
{% endblock script %}